<div class="centrar">

<div class="">
    <h2>Festivos por año</h2>
    <p>Obtenga todos los festivos de un año en Colombia</p>
    <br>
</div>
<div >
    <mat-form-field>
        <mat-label>Seleccionar Año</mat-label>
        <input matInput type="number" [(ngModel)]="anio" required>
        <mat-hint>YYYY</mat-hint>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="obtenerFestivos()">Obtener</button>
    </div>
    <ngx-datatable class="bootstrap" [rows]="festivos" [columns]="columnas"
[rowHeight]="'auto'" [headerHeight]="50" [footerHeight]="50"  [limit]="10" 
[columnMode]="'force'" [scrollbarV]="false"></ngx-datatable>
</div>

