<mat-toolbar class="mat-primary mat-toolbar-single-row mat-elevatmat-z8" color="primary">
    <div class="centrar">Festivos en Colombia</div>
</mat-toolbar>
<div>
  <h1 class="centrar">Festivos en Colombia</h1>
  <p class="centrar">Pagina web para verificar si una fecha es festivo u obtener todos los festivos en un año</p>
    <mat-tab-group class="centrar">
        <mat-tab label="Verificar Festivos">
            <app-verificar-festivos></app-verificar-festivos>
        </mat-tab>
        <mat-tab label="Obtener Festivos">
            <app-obtener-festivos></app-obtener-festivos>
        </mat-tab>
    </mat-tab-group>
</div>

